.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: stretch;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-30px);
	cursor: pointer;
}

.container .card .content .imgBx {
	position: relative;
	width: 300px;
	height: 400px;
	border-radius: 15px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .movie_category {
	position: absolute;
	bottom: 3px;
	display: flex;

	list-style: none;
	margin: 0 10px;
	transition: 0.4s;
	opacity: 0;

	color: #fff;
	font-size: 18px;
}

.container .card:hover .movie_category{
	opacity: 1;
	transition: 2.5s;
}

.movie_score {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
}

.movie_score--green_accent {
    background-color: #32ba43;
}

.movie_score--light_green {
    background-color: #89c939;
}

.movie_score--orange{
    background-color: orange;
}

.movie_score--red {
    background-color: red;
}